body {
    color: burlywood;
    background-image: url("../pics/prism.png");
    font-family: fantasy;
}

.aboutme {
    
}

.card-text {
    text-align: center;
    text-decoration: none;
}

.projects  {
    padding: 20px;
    margin: 30px 30px 30px 30px;
    font-size: large;
}

footer {
    background-color: gray;
    height: 120px;
    width: 100%;
    clear: both;
}

.message {
    height: 100px;
}

.body-bck {
    background-color: white;
}

a {
    color: white;
    text-align: center; 
    
}

.cb {
    background-color: burlywood;
}

