body {
    color: burlywood;
    background-image: url("../pics/prism.png");
    font-family: fantasy;
    font-size: large;
}


#me {
    border: solid burlywood 15px;
    margin: 15px 15px 15px 15px; 
}



.card-text {
    text-align: center;
    text-decoration: none;
}

.projects  {
    padding: 20px;
    margin: 30px 30px 30px 30px;
    font-size: large;
}

footer {
    background-color: rgb(52,58,64);
    height: 120px;
    width: 100%;
    clear: both;
}

.message {
    height: 100px;
}

.body-bck {
    background-color: white;
}

a {
    color: white;
    text-align: center; 
    
}

.cb {
    background-color: burlywood;
    text-align: center;
}
 
h2 {
    font-weight: bold;
}

.prjct {
    border: solid 10px burlywood;
}

div.prjct:hover {
    background-color: rgb(52,58,64);
    border: solid 10px rgb(52,58,64);

}

button:hover {
    background-color: rgb(52,58,64);
    color: burlywood;
}